@import url("https://rsms.me/inter/inter.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.csearch {
  border-radius: 48px;
}
form {
  margin-top: 15px;
}
a {
  text-decoration: none !important;
}
/* ! category section started */
.category-section {
  margin: 30px;
  font-size: larger;
  
}
hr{
  border: 3px solid black!important;
  border-top: 1px solid;
  opacity: 1!important;
  width: 20%;
  margin: auto;
  margin-top: 10px;
}
.product-img{
  width: 250px;
  height: 245px;
}
.product-img .img-fluid{
  max-width: 100%;
  height: 100%;
}
.product-img-model{
  width: 50%;
  margin-bottom: 25px;
}
.wrapper{
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}